{% extends "layout.html" %}
{% load static %}

{% block content %}
	{% if user.is_authenticated %}
		 <section class="hero is-primary">
	        <div class="hero-body">
	            <div class="container">
	                <h1 class="title">
	                    Hello, {{ user.username }}
	                
	                <a href="{% url 'logout' %}">
	                    <div class="button is-dark is-pulled-right">
                            Logout
                        </div>
                    </a><br>
                    </h1>
	            </div>
	        </div>
	     </section>
	     
	     <section>
	     <div class="tile is-parent">
         <a href="{% url 'weather' %}">
            <div class="tile is-parent">
            <div class="tile button  is-child">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img src="{%static "images/weather.png"%}" alt="Weather" style="width:128px">
                        </figure>
                    </div>
                        <div class="content">
                            <p>
                                <p class="title">Weather</p>
                                <br>
                            </p>
                        </div>
                </article>
            </div>
            </div>
            
		                
		 </a><br>
		 <a href="{% url 'temperature' %}">
		    <div class="tile is-parent">
            <div class="tile button  is-child ">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img src="{%static "images/temperature.png"%}" alt="Temperature" style="width:128px">
                        </figure>
                    </div>
                        <div class="content">
                            <p>
                                <p class="title">Temperature</p>
                                <br>
                            </p>
                        </div>
                </article>
            </div>
            </div>
		                
		 </a><br>
		 </div>
		 
		 </section>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}