<!DOCTYPE html>
<html>
<head>
	<title>EC463 miniproject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
	<section class="hero is-dark is-thin">
        <div class="hero-body">
            <div class="container">
                <center>
                <h1 class="title">
                    EC463 mini project
                </h1>
                </center>
            </div>
        </div>
    </section>
	    {% block content %}	
	    {% endblock content %}
</body>
</html>